.studentInfoContainer{
    width:100%;
    text-align: left;
    background-color:white;
    padding: 1%;
}
.studenPhoto{

width: 30%;
display: inline-block;
margin: 0;    
float: right;
align-self: center;
}
.studentInfo{
    display: inline-block;
    margin: 0;    
    
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    display: inline-block;
margin: 0;    
}

.studentInfoContainer:hover {
    box-shadow: 3 8px 16px 0 rgba(0, 0, 0, 0.459);
}



.btn{

    width: 100%
}

.header{
    margin-bottom: 20px;
    text-align: center;
    
}