.msgBoxContainer {
    width: 100%;
}
.messageCard {
    background-color: white;
    margin: auto;
    padding-top: 10px;
}
.messageCard h4,
p {
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
}
.msgtitle {
    text-align: center;
    color: white
}
.selected {
    background-color: #FBB040;
    color: white;
}
.msgListTitle {
    background-color: #EFEDEA;
    color: #222222;
}